name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NuGet
        uses: nuget/setup-nuget@v2

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restore packages
        run: nuget restore Benkei/Benkei.csproj

      - name: Build
        run: msbuild Benkei/Benkei.csproj /p:Configuration=Release /p:Platform="Any CPU" /t:Rebuild
